.wrapper{
    display: grid;
    grid-template-rows: minmax(100px, auto) 1fr minmax(70px, auto);
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
    min-height: 100%;
}
ul{
    list-style: none;
}
.header{
    grid-area: header;
    display: grid;
    background-color: darkslategray;
}
.footer{
    background-color: olive;
}
.main{
    grid-area: main;
    display: grid;
    padding: 20px;
    background-color: gray;
    grid-template-columns: minmax(160px, 1fr) 3fr;
    grid-template-rows: 2fr auto;
}
.slidebar{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border: 2px dashed darkslateblue;
}
.slidebar__list{

}
.content{
    padding-left: 50px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}
.header__list{
    display: grid;
    grid-auto-flow: column;
}
.header__link{
    color: aliceblue;
}
.slidebar__link{
    color: aliceblue;
}

li{
    margin-bottom: 10px;
}
.gallery__items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    grid-auto-flow: dense;
}
.gallery__item_big{
    grid-column: span 2;
    grid-row: span 2;
}
.gallery__item
{
   justify-self: center;
   align-self: center;
   border: 1px dashed black
}
.registration{
    margin-top: 30px;
    align-self: center;
    justify-self: center;
    grid-column: span 2;
    grid-row: 2 / 3;
}
.registration__form{

    display: grid;
    grid-template-columns: minmax(50px, 180px) 200px;
    grid-template-rows: repeat(3, 1fr);
    
}
.form__button{
    order: 5;
    grid-column: span 2;
}
.form__number_padding{
    margin: 3px;
}
.footer__FIO{
    text-align: center;
    align-self: center;
    font-size: 30px;
}
.footer{
    display: grid;
    
}
.form__name{
    order: 1;
}
.form__name-input{
    order: 2;
}
.form__number{
    order: 3;
}
.form__number-input{
    order: 4;
}
